  
	<div id="page">
		<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
		
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo">

					{% if page.site_brading %}

					{{ page.site_brading }}

					{% else %} <a href="{{ url('<front>') }}">{{ site_name }}</a> {% endif %}
					
			   		</div>
				</div>
				<div class="col-xs-8 text-right menu-1">
				{{ page.main_menu }}

				
				</div>
			</div>
			
		</div>
	</nav>
	
	<a href="#" class="js-gtco-nav-toggle gtco-nav-toggle gtco-nav-white m-click"><i></i></a>
		<div class="mobile_menu">
		{{ page.main_menu }}
		</div>

	<header id="gtco-header" class="gtco-cover  gtco-cover-xs " role="banner" style="background-image:url({{ base_path ~ directory }}/images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0  text-center ">
					<div class="display-t">
						<div class="display-tc">
				{% if is_front %}

				{% if page.above_image_content %}

						{{ page.above_image_content }}

							{% endif %}

				{% else %}

				<h1 class="animate-box" data-animate-effect="fadeInUp">  {{ title }}</h1>
							
				{% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

{% if is_front %}

	<div id="gtco-features-3">
		<div class="gtco-container">
			<div class="gtco-flex">

				{% if page.home_block1 %}

				<div class="feature feature-1 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="fa fa-search"></i>
						</span>
						

						{{ page.home_block1 }}

					</div>
				</div>

				{% endif %}


				{% if page.home_block2 %}

				<div class="feature feature-2 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="fa fa-bullhorn"></i>
						</span>
						
						{{ page.home_block2 }}

					</div>
				</div>

				{% endif %}

				{% if page.home_block3 %}

				<div class="feature feature-3 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-inner">
						<span class="icon">
							<i class="fa fa-clock-o"></i>
						</span>
						

						{{ page.home_block3 }}

					</div>
				</div>

        {% endif %}

			</div>
		</div>
	</div>
	
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">

					{% if page.features_head %}

					{{ page.features_head }}
					

					{% endif %}

				</div>
			</div>
			<div class="row">

			{% if page.feature_block_one %}

				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-cog"></i>
						</span>

						{{ page.feature_block_one }}
						
					</div>
				</div>

			{% endif %}

			{% if page.feature_block_two %}

				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-tablet"></i>
						</span>

						{{ page.feature_block_two }}

					</div>
				</div>

			{% endif %}

			{% if page.feature_block_three %}

				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="fa fa-cogs"></i>
						</span>

						{{ page.feature_block_three }}

						

					</div>
				</div>

			{% endif %}
				
			</div>
		</div>
	</div>

{% else %} 

	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">
						
			<div class="row row-pb-md">
				<div class="col-md-12">

				{{ page.content }}

				</div>
			</div>
	
		</div>
	</div>

{% endif %}





	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

			{% if page.footer_block_one %}

				<div class="col-md-4">
					<div class="gtco-widget">

					{{ page.footer_block_one }}

						
					</div>
				</div>

				{% endif %}

				{% if page.footer_block_two %}

				<div class="col-md-4 col-md-push-1">
					<div class="gtco-widget">

					{{ page.footer_block_two }}

					</div>
				</div>
				
				{% endif %}
				
				{% if page.footer_block_three %}

				<div class="col-md-4">
					<div class="gtco-widget">

					{{ page.footer_block_three }}

						
					</div>
				</div>

				{% endif %}

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-middle">
						<small class="block">&copy; 2016 {{ site_name }}. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://venugopalphp.wordpress.com/" target="_blank"> Venugopal</a> </small>
					</p>
					
				</div>
			</div>

		</div>
	</footer>
	</div>